#XfceNotifyWindow {
    background-color: @theme_bg_color;
    color: shade (@theme_fg_color, 1.1);
    border-width: 1px;
    border-style: solid;
    border-color: @theme_border_color_medium;
    border-radius: 1px;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: @button_normal_bg;
    color: shade (@button_normal_fg, 1.1);
    border-color: @theme_border_color_medium;
    border-radius: 0px;
}

#XfceNotifyWindow button:hover {
    background-color: @button_hover_bg;
    border-color: @button_hover_border;
}

#XfceNotifyWindow button:active {
    background-color: @button_active_bg;
    border-color: @button_active_border;
}

#XfceNotifyWindow label#summary {
    font-weight: bold;
}

#XfceNotifyWindow progressbar {
    margin: 4px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: @theme_selected_bg_color;
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-color: shade (@theme_bg_color, 0.75);
    border-style: none;
    border-radius: 0px;
    padding: 0;
}


/*




#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#1C1F21, 1.0),
                                      shade(#1C1F21, 1.0)
                                      );
    border-style: none;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 1px;
}












#XfceNotifyWindow progressbar {
    margin: 4px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #fcfcfc;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 2px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#1C1F21, 1.0),
                                      shade(#1C1F21, 1.0)
                                      );
    border-style: none;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

*/
