<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3.5">
        <item label="Terminal">
            <action name="Execute">
                <execute>urxvtc</execute>
            </action>
        </item>
        <item label="Web">
            <action name="Execute">
                <execute>firefox</execute>
            </action>
        </item>
        <item label="Steam">
            <action name="Execute">
                <execute>steam</execute>
            </action>
        </item>
        <menu id="root-menu-23432" label="Office">
            <item label="Word Processor">
                <action name="Execute">
                    <execute>lowriter</execute>
                </action>
            </item>
            <item label="Spreadsheet">
                <action name="Execute">
                    <execute>localc</execute>
                </action>
            </item>
            <item label="Presentation">
                <action name="Execute">
                    <execute>loimpress</execute>
                </action>
            </item>
        </menu>
        <menu id="root-menu-23433" label="Take Screenshot">
            <item label="Now">
                <action name="Execute">
                    <execute>
                        scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'
                    </execute>
                </action>
            </item>
            <item label="In 5 Seconds...">
                <action name="Execute">
                    <execute>
                        scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'
                    </execute>
                </action>
            </item>
            <item label="In 10 Seconds...">
                <action name="Execute">
                    <execute>
                        scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'
                    </execute>
                </action>
            </item>
            <item label="Selected Area... (click &amp; drag mouse)">
                <action name="Execute">
                    <execute>
                        scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; gpicview ~/$f'
                    </execute>
                </action>
            </item>
        </menu>
        <separator/>
        <menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
        <separator/>
        <item label="Exit">
            <action name="Execute">
                <execute>/home/tim/.local/bin/rofi_logout.sh</execute>
            </action>
        </item>
    </menu>
</openbox_menu>
