! /-----------------------\
! | Created by fs0ciety   |
! | https://fsociety.info |
! | 2016                  |
! | modified by Tim		  |
! \-----------------------/

!#include </home/tim/.termcolors/rosespectr>

Xft.dpi:                        109
Xft.antialias:                  1
Xft.autohint:                   0
Xft.hinting:                    1
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcddefault
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
!URxvt*font:                     xft:tamzenforpowerline:size=9
URxvt*font:                     xft:Envy\ Code\ R\ for\ Powerline:pixelsize=12
!URxvt*font:                     -misc-tamzenforpowerline-medium-r-normal--14-101-100-100-c-70-iso8859-1
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              1
!URxvt.iso14755:                 false
!URxvt.iso14755_52:              false
URxvt.geometry:                 80x28
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           24
URxvt.perl-lib:                 /usr/lib/urxvt/perl/
URxvt.perl-ext-common:          default

URxvt.keysym.Control-Left:		\033[1;5D
URxvt.keysym.Control-Right:		\033[1;5C

/* ! Rofi */
/* rofi.font:						Envy Code for Powerline 8 */
/* rofi.color-enabled:				false */
/* !								bg,fg,bgalt,hlbg,hlfg */
/* rofi.color-normal:				base00,base05,base03,base0C,base00 */
/* rofi.color-urgent:				base00,base08,base03,base0C,base08 */
/* rofi.color-active:				base00,base0D,base03,base0C,base05 */
/* rofi.color-window:				base00,base03 */
/* rofi.separator-style:           solid */

! special
*.foreground:   #1f1218
*.background:   #fff5fa
*.cursorColor:  #1f1218

! black
*.color0:       #fff5fa
*.color8:       #997f8c

! red
*.color1:       #e04d38
*.color9:       #e07638

! green
*.color2:       #699e34
*.color10:      #f0dde6

! yellow
*.color3:       #e0b738
*.color11:      #997f8c

! blue
*.color4:       #4286c9
*.color12:      #7d5e6d

! magenta
*.color5:       #a565c9
*.color13:      #33222b

! cyan
*.color6:       #349e90
*.color14:      #e0708c

! white
*.color7:       #7d5e6d
*.color15:      #1f1218
