! /-----------------------\
! | Created by fs0ciety   |
! | https://fsociety.info |
! | 2016                  |
! | modified by Tim		  |
! \-----------------------/

!#include </home/tim/.termcolors/scag>

Xft.dpi:                        109
Xft.antialias:                  1
Xft.autohint:                   0
Xft.hinting:                    1
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcddefault
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
!URxvt*font:                     xft:tamzenforpowerline:size=9
URxvt*font:                     xft:Envy\ Code\ R\ for\ Powerline:pixelsize=12
!URxvt*font:                     -misc-tamzenforpowerline-medium-r-normal--14-101-100-100-c-70-iso8859-1
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              1
!URxvt.iso14755:                 false
!URxvt.iso14755_52:              false
URxvt.geometry:                 80x28
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           24
URxvt.perl-lib:                 /usr/lib/urxvt/perl/
URxvt.perl-ext-common:          default

URxvt.keysym.Control-Left:		\033[1;5D
URxvt.keysym.Control-Right:		\033[1;5C

! Colors
! Base16 Atelier Sulphurpool Light
! Scheme: Bram de Haan (http://atelierbramdehaan.nl)

#define base00 #f5f7ff
#define base01 #dfe2f1
#define base02 #979db4
#define base03 #898ea4
#define base04 #6b7394
#define base05 #5e6687
#define base06 #293256
#define base07 #202746
#define base08 #c94922
#define base09 #c76b29
#define base0A #c08b30
#define base0B #ac9739
#define base0C #22a2c9
#define base0D #3d8fd1
#define base0E #6679cc
#define base0F #9c637a

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Rofi
rofi.font:						Envy Code for Powerline 8
rofi.color-enabled:				false
!								bg,fg,bgalt,hlbg,hlfg
rofi.color-normal:				base00,base05,base03,base0C,base00
rofi.color-urgent:				base00,base08,base03,base0C,base08
rofi.color-active:				base00,base0D,base03,base0C,base05
rofi.color-window:				base00,base03
rofi.separator-style:           solid
