html {
  padding: 0;
  margin: 0;
  min-height: 100px;
  height: 0; }

body {
  width: 290px;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important; }

a,
a:hover,
a:visited {
  text-decoration: none; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important; }

.player-div-border, #player, .header, .options {
  border-left: 1px solid #2880c7;
  border-right: 1px solid #2880c7; }

.disabled .player-controls-button-like,
.disabled .player-controls-button-dislike,
.disabled .player-controls-button-play,
.disabled .player-controls-button-prev,
.disabled .player-controls-button-next,
.disabled .site-title,
.disabled .site-favicon,
.disabled .song-data {
  opacity: .5;
  pointer-events: none; }

.song-data {
  display: inline-block;
  font-size: 15px;
  height: 18px;
  margin-top: -4px;
  overflow: hidden;
  padding: 0 4px 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.site-data {
  overflow: hidden;
  height: 22px;
  margin-bottom: 6px;
  width: 290px;
  -webkit-user-select: none; }
  .site-data .site-link {
    margin-left: 6px; }
  .site-data .settings {
    float: right;
    font-size: 12px;
    margin: 3px 6px 0 0;
    opacity: .5;
    width: 12px; }
    .site-data .settings:hover {
      opacity: 1; }
  .site-data .settings-active {
    opacity: 1; }

.site-favicon {
  border: none;
  height: 18px;
  width: 18px; }

.site-title {
  font-size: 18px;
  vertical-align: middle; }

.site-priority-label {
  float: right;
  font-size: 12px;
  font-weight: 600;
  opacity: .4;
  padding-right: 6px; }

#player {
  height: auto;
  min-height: 30px;
  padding-bottom: 8px;
  text-align: center; }

.player-row {
  padding: 5px 0 0 0;
  overflow: hidden; }

.site-tab-container {
  min-height: 60px; }
  .site-tab-container a,
  .site-tab-container a:hover,
  .site-tab-container a:active,
  .site-tab-container a:visited {
    text-decoration: none;
    color: #000000; }

.header {
  background-color: #2880c7;
  border-top: 1px solid #2880c7;
  height: 38px;
  padding: 6px;
  text-align: center; }
  .header a,
  .header a:active,
  .header a:visited {
    color: #ffffff;
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-top: 8px;
    text-decoration: none; }
  .header a:hover {
    color: #e6e6e6;
    text-decoration: none; }

.options {
  border-bottom: 2px solid #2880c7;
  display: block;
  height: 44px;
  padding: 0;
  text-align: center; }
  .options #options-link,
  .options #help-link,
  .options #donate-link {
    margin: 0 5px; }

.no-sites {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px; }

#btn-disabled-sites {
  margin-top: 10px;
  min-width: 203px; }
  #btn-disabled-sites i {
    margin-right: -6px;
    margin-top: -3px; }

.disabled-site-tab-container.initialize {
  display: none; }

.player-controls-container {
  background-color: #2880c7;
  padding: 2px 0;
  -webkit-user-select: none; }
  .player-controls-container .player-controls-button {
    margin-left: 2px;
    margin-right: 2px; }
    .player-controls-container .player-controls-button.mdl-button--disabled {
      opacity: .7; }
    .player-controls-container .player-controls-button.player-controls-button-like i, .player-controls-container .player-controls-button.player-controls-button-dislike i {
      font-size: 18px; }
  .player-controls-container i {
    color: #ffffff; }

.site-settings {
  border-bottom: 2px solid #2880c7;
  display: block;
  height: 54px;
  text-align: center; }
  .site-settings.initialize {
    display: none; }
  .site-settings .control-label {
    display: block;
    font-weight: 700;
    margin: 3px 0 -3px 30px;
    text-align: left; }
  .site-settings .settings-item.left {
    float: left;
    margin-left: 6px;
    width: calc(40% - 6px); }
  .site-settings .settings-item.right {
    float: right;
    width: calc(60%); }
  .site-settings .settings-item .priority-button {
    min-width: 26px;
    width: 26px; }
  .site-settings .settings-item .priority-text {
    font-size: 15px;
    font-weight: 500; }
  .site-settings .settings-item .advanced-settings-button {
    font-size: 12px;
    padding: 0 6px;
    margin-top: 9px; }

.mdl-button--colored {
  background-color: #2880c7 !important; }
