/* Courtesy of skgough */
* {
    padding: 5px 10px;
    background-color: #e5e6ea00;
    color: #222c31;
    font: "Font Awesome 5 Free 60";
}

#window {
  width: 1200px;
  height: 300px;
  border-radius: 5px;
  background-color: #e5e6ea80;
  children: [ horibox ];
}
#horibox {
  orientation: horizontal;
  children: [ listview ];
}
#listview {
  layout: horizontal;
}
#element {
  padding: 90px 99px 0px ;
}
#element selected {
  text-color: #6c756e;
}
/* vim:ft=css
