body {
    min-width: 266px; /* Total width is 250 + 8 + 8 = 266 with margins */
    height: 436px;  /* Total width is 420 + 8 + 8 = 436 with margins */
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 14px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/* Make all the containing divs expand to the full size of body */
main {
    width: 100%;
    height: 100%;
}

/* Make all the containing divs expand to the full size of body */
.main_view {
    width: 100%;
    height: 100%;
}

/* Make all the containing divs expand to the full size of body */
.popup_view {
    width: 100%;
    height: 100%;
}

/* Need to to support ng-hide & ng-show directives */
.ng-hide {
    display: none!important;
}

/* Used to mask out the ribbon, menus, and everything while displaying login panel */
.offline_panel {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 300; 
    position: absolute;
    background-color: rgba(0,0,0,0.5); /* Altenative to opacity (0.5) where the child div won't be opaque */
}

/* Displays a message to the user in the offline_panel */
.info_panel {
    display: inline-block;
    width: 100%;
    height: 55%;
    padding: 16px;
    align-self: center;
    background-color: white;
}

.info_panel_message {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: start;
    font-size: 17px;
}

/* Used to fade out underlying UI (e.g. MRU) while displaying menus */
.fading_panel {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20; /* Greater than the MRU, but less than ribbon and menus */
    position: absolute;
    opacity: 0.7;
    background-color: white;
}

/* Fading circle spinner overrides to angular-spinkit */
.fading-circle-spinner-mru {
  margin: 40px auto;
  width: 40px;
  height: 40px;
}

.fading-circle-mru:before {
  width: 15%;
  height: 15%;
  background-color: steelblue;
}

/* Used for top menu buttons */
.ribbon_panel {
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 4px;
    position: relative;
    background-color: #F8FBFD;
    display: flex;
    justify-content: space-around;
}

/* Top level ribbon menu buttons */
.ribbon_button_group {
    display: inline-block;
    text-align: center;
}

/* Top level ribbon menu buttons */
.ribbon_button_group_nofocus {
    display: inline-block;
    text-align: center;
}

.ribbon_button_group_nofocus:focus {
    outline: none;
}

.ribbon_button {
    display: inline-block;
    text-align: center;
    height: 40px;
    cursor: pointer;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

.ribbon_button_icon {
    font-size: 16px;
}

.ribbon_button:hover {
    color: #0078D7;
}

.menu_group {
    position: absolute;
    top: 50px; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;    
}

/* Used for each menu */
.menu_panel {
    z-index: 25;
    position: absolute;
    background-color: #F8FBFD;
    width: 100%;
    box-shadow: 0 4px 2px #c8c8c8;

}

.menu_panel_closed {
    text-align: center;
    z-index: 25;
    position: absolute;
    background-color: #F8FBFD;
    width: 100%;
    height: 5px;
    box-shadow: 0 2px 2px #c8c8c8;
}

.menu_chevron {
    text-align: center;
    cursor: pointer;
    height: 20px;
}

.menu_chevron:hover {
    color: #0078D7;
}

.menu_panel .menu_button {
    background-color: #0078D7;
    color: #FFFFFF;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.menu_panel .checkbox_group {
    text-align: start;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

.menu_panel .checkbox_input {
    border: 1px solid #c8c8c8;
    padding: 6px;
    border-radius: 0;
    display: inline-block;
    position: relative;
}

.menu_panel .checkbox_start {
    padding-left: 4px;
    padding-right: 4px;
}

.menu_panel .checkbox_input:checked:after {
    color: #666666;
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: 1px;
}

.menu_panel .checkbox_field {
      display: inline-block;
      cursor: pointer;
      position: relative;
}

/* Menu animations */
.menu-switch-animation.ng-enter,
.menu-switch-animation.ng-leave {
  -webkit-transition: 500ms ease-in-out all;
  -moz-transition: 500ms ease-in-out all;
  -o-transition: 500ms ease-in-out all;
  transition: 500ms ease-in-out all;
  position:absolute;
}

.menu-switch-animation.ng-enter {
    top: -100%;
    z-index: 26;
}

.menu-switch-animation.ng-leave {
    top: 0;
    z-index: 24;
}

.menu-switch-animation.ng-enter.ng-enter-active {
    top: 0;
    z-index: 26;
}

.menu-switch-animation.ng-leave.ng-leave-active {
    top: -100%;
    z-index: 24;
}
/* End Menu animations */

a {
    text-decoration: none;
}

select {
    font-family: 'Segoe UI Semi Light','Segoe UI Web Light','Segoe UI','Segoe UI Web',Arial,Verdana,sans-serif;
    color: #000000;
}

/* Used to mask out the ribbon, menus, and everything while displaying login panel */
.masking_panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 200; 
    position: absolute;
    background-color: rgba(0,0,0,0.5); /* Altenative to opacity (0.5) where the child div won't be opaque */
}

.login_panel {
    position: relative;
    top: 10%;
    padding: 16px;
    align-self: center;
    background: white;
    z-index: 250;
}

.login_panel .signin_header {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_panel .selector {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_panel .selector select{
    height: 28px;
    width: 200px;
    font-size: 14px;
}

.login_panel .login_option {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_panel .login_button {
    background-color: #0078D7;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.login_panel .create_account {
    color: #0078D7;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    padding-bottom: 5px;
}

.login_panel .create_account label {
    cursor: pointer;
}

.action_panel {
    z-index: 100;
    position: relative;
    background-color: white;
}

/* Used for New and Open Menus */
.action_group {
    text-align: start;
    padding: 24px 16px 4px 16px;
}

/* Used for Account menu */
.account_group {
    align-items: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 16px;
}

/* Used for Settings menu */
.settings_group {
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
}

.feedback_button_group {
    text-align: center;
}

.account_name {
    padding: 8px 16px 16px 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile_circle {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 20px;
    background-color: #999999;
    display: inline-block;
}

.profile_circle_inner {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
}

.profile_picture {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.mru_panel {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.mru_message_panel {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    align-self: center;
}

.mru_message_content {
    display: inline-block;
    padding-top: 16px;
    align-self: center;
    text-align: center;
    font-size: 20px;
    color: #c8c8c8;
}

.mru_label {
    text-align: start;
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.mru_group {
    text-align: start;
    height: 280px; /* 7 MRU Items * 40px height (set by the .animate-repeat class for each document) */
}

.list_row {
    display: flex;
    cursor: pointer;
    width: 100%;
}

.list_row:hover {
    color: #0078D7;
}

.list_image{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* spacer between icon and filename */
.list_middle {
    width: 12px;
}

.list_end {
    height: 40px;
    width: 202px; /* Body + margin = 266  ::: 266 - 16 - 16 - 20 - 12 = 202 */
}

/* Use a different container for the open list because the strings can wrap */
.list_end_open {
    padding-bottom: 20px;
    display: flex;
}

.mru_name {
    font-size: 14px;
    left: 0;
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mru_view_more {
    left: 0;
    right: 0;
    text-align: start;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    display: inline-block;
    color: #0078D7;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
}

.mru_view_more label {
    cursor: pointer;
}

.app_name {
    font-size: 14px;
    padding-left: 12px;
    cursor: pointer;
}

.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.feedback {
    background-color: #767676;
}
